// ここから左半分
// 左上のロゴマーク
.header {
  width: 100%;
  height: 100px;
  display: flex;
}
.heading {
  width: 50%;
  color: #F4A460;
  font-size: 50px;
  margin: 10px 0 0 20px;
}
.heading-delivery-app {
  text-decoration:none !important;
  color: #F4A460;
}
.heading-delivery-app:hover {
  color: #F4A460;
}

// ここから右半分
.navbar {
  width: 50%;
}
.nav-lists {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

li {
  list-style: none;
}

.menu {
  font-size: 30px;
}

.three {
  margin-right: 125px;
}

.fa-sandybrown {
  color: #F4A460;
}
