<div class="container">
<header class="header">
      <heading class="heading">
        <%= link_to("Delivery App", "/", {class: "heading-delivery-app"} ) %>
      </heading>
      <div class="navbar">
        <ul class="nav-lists">
          <%# 飛行機マーク 新規投稿 %>
          <%= link_to new_post_path, :method => :get do %>
            <li class="light three"><i class="fa fa-paper-plane fa-3x"></i></li>
          <% end %>
          <%# ユーザー一覧 %>
          <li class="light three"><i class="fa fa-users fa-3x"></i></li>
          <%# メニュー ドロップダウン %>
          <li class="menu three">
            <div class="dropdown">
            	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            		MENU
            		<span class="caret"></span>
            	</button>
              <ul class="dropdown-menu" role="menu">
                <%# マイページ %>
              	<%= link_to user_path(current_user), method: :get do %>
                  <li role="presentation">マイページ</li>
                <% end %>
                <%# 編集 %>
              	<li role="presentation"><a href="#">編集</a></li>
                <%# 新規投稿 %>
              	<li role="presentation"><a href="#">新規投稿</a></li>
                <%# ユーザー一覧 %>
              	<li role="presentation"><a href="#">ユーザー一覧</a></li>
                <%# ログアウト %>
              	<li role="presentation"><a href="#">ログアウト</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </header>
</div>
