<% @posts.each do |post| %>
  <p><%= post.food_name %></p>
  <%= link_to(post_path(post)) do %>
          <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>
  <% end %>
<% end %>
