@media screen and (min-width:960px) {
// ユーザーの新規登録画面
h2 {
  text-align: center;
}

.signup-container {
  position: absolute;
  top: 100px;
  left: 600px;
  border: 3px solid #F4A460;
  border-radius: 5px;
  padding: 10px;
}

.signup-field {
  margin-bottom: 10px;
}

.form-control {
  width: 300px;
}

.actions {
  text-align: center;
}

.signup-login {
  text-align: center;
  margin-top: 10px;
}

.signup-title {
  color: #F4A460;
  text-align: center;
  margin-left: 90px;
  font-size: 50px;
}

// ユーザーのログイン画面
.login-container {
  position: absolute;
  top: 100px;
  left: 600px;
  border: 3px solid #F4A460;
  border-radius: 5px;
  padding: 10px;
}

.login-field {
  margin-bottom: 10px;
}

.icon_image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.login-title {
  color: #F4A460;
  text-align: center;
  margin-left: 60px;
  font-size: 50px;
}

// ユーザー一覧画面
.grand-wrap-users {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  // padding: 100px;
  // height: 100px;
  // width: auto;
}

.parent-wrap-users {
  margin-bottom: 30px;
}

// .paginate-users {
//   position: absolute;
//   top: 1000px;
//   left: 630px;
// }

// ユーザーの編集画面
.h2-edit {
  text-align: center;
}

.signup-edit-container {
  position: absolute;
  top: 150px;
  left: 500px;
  border: 3px solid #F4A460;
  border-radius: 5px;
  padding: 10px;
}

.password-margin {
  margin-top: 5px;
}

.password-margin-second {
  margin-top: -5px;
}

.current-password-margin {
  margin-top: 3px;
}

.new-password-margin {
  margin-top: -5px;
}

.edit-btn {
  margin-top: 12px;
}

// ユーザーの詳細画面
.icon_image-user-show-1 {
  text-align: center;
}

.icon_image-user-show {
  width: 200px;
  height: 200px;
  //サイズ指定
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
  border-radius: 50%;
  margin-top: 10px;
}

.user-name-show {
  text-align: center;
}

.profile-user-show {
  text-align: center;
}

.like-user-show {
  text-align: center;
  margin: 15px 0 0 0;
}

.card-img-top-2 {
  width: 750px;
  height: 750px;
  margin: 50px 0 0 200px;
}

.user-adjust {
  padding-bottom: 10px;
}

.show-foodname {
  text-align: center;
  font-weight: bold;
}

.show-storename {
  text-align: center;
  font-weight: bold;
}

.like-background {
  background-color: #FFDAB9;
  margin: 0 160px 0 200px;
}

}
// タブレット
@media screen and (min-width:560px) and (max-width:959px) {
  // ログイン画面
  .login-container {
    border: 3px solid #F4A460;
  }
  .login-title {
    color: #F4A460;
    text-align: center;
    font-size: 50px;
  }
  // 新規登録画面
  .signup-container {
    border: 3px solid #F4A460;
    padding: 10px;
  }
  .signup-title {
    color: #F4A460;
    text-align: center;
    font-size: 50px;
  }
  .field {
    margin-bottom: 10px;
  }
  // ユーザーの編集画面
  .signup-edit-container {
    border: 3px solid #F4A460;
    padding: 10px;
  }
}
// スマホ
@media screen and (min-width:320px) and (max-width:559px) {
  // ログイン画面
  .login-container {
    border: 3px solid #F4A460;
  }
  .login-title {
    color: #F4A460;
    text-align: center;
    font-size: 40px;
  }
  // 新規登録画面
  .signup-container {
    border: 3px solid #F4A460;
    padding: 10px;
  }
  .signup-title {
    color: #F4A460;
    text-align: center;
    font-size: 40px;
  }
  .field {
    margin-bottom: 10px;
  }
  // ユーザーの詳細画面
  .card-img-top-2 {
    height: 350px;
  }

  // ユーザーの編集画面
  .signup-edit-container {
    border: 3px solid #F4A460;
    padding: 10px;
  }

  // ユーザー一覧画面
  .icon_image {
    border-radius: 50%;
    height: 340px;
    width: 340px;
  }

  .child-wrap-users {
    padding: 5px;
  }

  .pagenation {
    padding-top: 10px;
  }
}
