// ユーザーの新規登録画面
h2 {
  text-align: center;
}

.signup-container {
  position: absolute;
  top: 100px;
  left: 600px;
  border: 3px solid blue;
  border-radius: 5px;
  padding: 10px;
}

.signup-field {
  margin-bottom: 10px;
}

.form-control {
  width: 300px;
}

.actions {
  text-align: center;
}

.signup-login {
  text-align: center;
  margin-top: 10px;
}

// ユーザーのログイン画面
.login-container {
  position: absolute;
  top: 100px;
  left: 600px;
  border: 3px solid blue;
  border-radius: 5px;
  padding: 10px;
}

.login-field {
  margin-bottom: 10px;
}


.icon_image {
  width: 200px;
  height: 200px;
  //サイズ指定
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

// ユーザー一覧画面
.grand-wrap-users {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  height: 100px;
  width: auto;
}

.parent-wrap-users {
  // width: 50%;
  // height: 100px;
  // text-align: center;
  margin-bottom: 30px;
  // margin-bottom: 230px;
}

.child-wrap-users {
  // width: 200px;
  // height: 35px;
  // text-align: center;
}
